*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: url(../img/fondoAuto.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.contenedor{
  width: 300px;
  margin: 100px auto;
  max-width: 350px;
  padding: 15px;
  background-color: rgb(51,51,51,0.602);
  border-radius: 15px;
}
h2{
  text-align: center;
  color: bisque;
}

h4{
  text-align: center;
  color: rgb(209, 204, 195);
}
.inContenedor{
  width: 70%;
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
  border-bottom: white thin solid;
  text-align: center;
  outline: none;
  padding: .3rem 0;
  font-size: 1rem;
  color: aliceblue;
  border-radius: 15px;
}

.btnEter{
  width: 32%;
  border: solid thin rgb(73, 70, 70);
  text-align: center;
  padding: .5rem;
  cursor: pointer;
  margin: 20px 150px;
  border-radius: 10px;
  background-color: bisque;
}

.contenedor a{
  margin: auto 35px;
  font-size: .8rem;
  color: bisque;
  text-decoration: none;
}



